body {
  background-color: #121212;
  color: #f0f0f0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*.marked {
  background-color: #4caf50;
  color: white;
}*/

.last-number {
  font-size: 24px;
  margin: 20px 0;
  color: #d32f2f;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
.buttons {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BingoBallContainer {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  display: flex;
  grid-template-columns: repeat(15, 50px);
  gap: 6px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #e9e2eb, #2b47e5);
  border: 3px solid #ff00ff;
  border-radius: 12px;
  animation: neonRainbow 4s infinite;
  margin-bottom: 1.5rem;
  width: 100%;
  /*max-width: 500px;*/
  margin: 0 auto;
}

@keyframes neonRainbow {
  0% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    border-color: #ff00ff;
  }
  25% {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    border-color: #00ffff;
  }
  50% {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-color: #00ff00;
  }
  75% {
    box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00;
    border-color: #ffff00;
  }
  100% {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    border-color: #ff0000;
  }
}

.bingo-ball {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #fdd835;
  color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: popIn 0.6s ease-out;
  margin: 1rem auto;
  text-align: center;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.cell {
  width: 75px;
  height: 75px;
  border: 2px solid #999;
  border-radius: 8px;
  font-weight: bold;
  /*font-size: 28px;*/
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  cursor: no-drop;
  background-color: #604f5d;
  color: #fff;
}

.marked {
  background-color: #4caf50;
  color: white;
}

.header-cell {
  background-color: #3949ab;
  color: white;
}

p {
  font-size: 2rem;
  margin: 10px 0;
  color: #d32f2f;
}

.bingo-ball {
  animation: bounceIn 0.6s ease-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5) translateY(-100px);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.img-container {
  width: auto;
  height: 100px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Opciones: cover, contain, fill, none, scale-down */
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr; /* 3 columnas iguales */
  gap: 1rem;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* 2 columnas */
    grid-template-rows: auto auto auto; /* 2 filas */
    gap: 0px;
  }

  .img-container {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: auto; /* Ajusta la altura automáticamente */
  }
  .buttons {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .BingoBallContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .bingo-ball {
    padding: 5px 10px;
    font-size: 24px;
  }
}
/*@media (max-width: 600px) {
  .board {
    max-width: 100vw;
    font-size: 1.5rem;
  }*/
  .cell {
    font-size: 1.5rem;
    padding: 16px;
  }
  .header-cell {
    font-size: 1.7rem;
  }
}
